<div class="container mt-5">
  <header class="text-center">
    <h1>Connect to us</h1>
    <p>Connect to Us Through</p>
    <ul class="social-links">
      <li>
        <a
          href="https://www.instagram.com/kopikopi"
          target="_blank"
          class="social-link"
        >
          <i class="fab fa-instagram"></i> Instagram @kopikopi
        </a>
      </li>
      <li class="separator">|</li>
      <li>
        <a
          href="https://www.facebook.com/kopikopi"
          target="_blank"
          class="social-link"
        >
          <i class="fab fa-facebook"></i> Facebook @kopikopi
        </a>
      </li>
      <li class="separator">|</li>
      <li>
        <a
          href="https://twitter.com/kopikopi"
          target="_blank"
          class="social-link"
        >
          <i class="fab fa-twitter"></i> Twitter @kopikopi
        </a>
      </li>
    </ul>
  </header>
</div>

<!-- Add this to include Font Awesome for icons -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<!-- Add some custom CSS to style the links -->
<style>
  .social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .social-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  .social-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  .social-link i {
    margin-right: 5px;
  }
  .separator {
    color: #404a56;
    font-weight: bold;
  }
</style>
